<nav class="navbar navbar-light navbar-expand-lg">

  <div class="navbar-nav">
    <a class="nav-item nav-link"  routerLink="/home" routerLinkActive="active-link"> Inicio </a>
  </div>

  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/institution" routerLinkActive="active-link"> Mi institución </a>
  </div>

  <div class="navbar-nav">
    <a class="nav-item nav-link" id="contact-info" routerLink="/contact-info" routerLinkActive="active-link">| Sobre Universy</a>
  </div>

</nav>
