
.active-link {
  font-weight: bold;
}

.active-link::before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #E5C028;
  border-radius: 50%;
  margin: auto;
  display: inline-block;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 1.2rem;
}

#logo{
  height: 2rem;
  opacity: 0.8;
}

.navbar{
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.102);
  margin-bottom: 2rem;
}
