.subject-rate-number {
    font-size: 2.3rem;
    padding-left: 1rem;
    font-weight: 200;
}

.subject-rate {
    font-weight: 100;
    font-size: 1.5rem;
}

.subject-rate-total {
    font-weight: 400;
    font-size: smaller;
    padding-right: 4px;
    color: gray;
}

.subject-rate-number i {
    color: #8046b6;
}

.graph-bar {
    margin-bottom: 3rem;
}

.section-container {
    padding: 1rem;
}

.secondary-card {
    background-color: #f8f8f8;
    padding: 1.5rem;
    padding-right: 3rem;
    border-radius: 1.5rem;
}

.btn-secondary i {
    vertical-align: bottom;
}

::ng-deep .progress-bar {
    background-color: #8046b6 !important;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.career-name {
    padding: 1.5rem 0;
    text-align: left;
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
}

.subject-name-container {
    margin: 1.8rem 0;
    font-size: 1.6rem;
}

.subject-name-label {
    font-weight: 600;
}

.subject-name {
    margin: 1rem 0;
}

.no-stats-avaiable {
    width: 60%;
    margin: auto;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    padding: 2rem;
    color: gray;
}

.card {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media print {
    .section-container {}
    #print-section {
        padding-left: 10rem;
        padding-right: 100px;
    }
    .margin-top-1 {
        margin: 0;
        padding: 0;
    }
    .graph-bar {
        margin: 0;
        padding: 0;
    }
}