
.btn-program-on {
  background-color: #E5C028;
}

.btn-program-on:hover {
  background-color: #eec829;
}

.btn-program-off {
  background-color: gray;
}

.btn-program-off:hover {
  background-color: #979797;
}

.btn-violet {
  background-color: #3D1255;
  border-color: #3D1255;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;

}

.career-title {
  margin-left: 1rem;
  margin-right: 1rem;
}

.program {
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  margin: 2rem;
  padding: 2rem;
  transition: all 100ms ease-in-out;
}

.not-pusblished {
  border-left: 2px solid white;
}

.program-name {
  color: white;
}

i {
  cursor: pointer;
}
