<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        <i class="material-icons" (click)="navigateCareerPage()">arrow_back</i>
        <span class="career-title">{{career.careerName}}</span>
        <i class="material-icons" (click)="openEditCareerModal()">edit</i>
      </h3>
    </div>

  </div>
  <hr>
    <app-add-item *ngIf="showAddProgram()" (buttonPressed)="openNewPlanModal()"
                  [buttonTitle]="'Agregar plan'"></app-add-item>
  <div *ngIf="programs">
    <div *ngFor="let program of programs" class="row text-left program"
         [ngClass]="{'btn-program-off' :program.published , 'btn-program-on': !program.published }"
         (click)="navigateToViewPlanPage(program)">
      <div class="col-8">
        <h3 class="program-name">
          {{program.name}}
          <br>
          Desde: {{program.validFrom}}
        </h3>
      </div>
      <div class="col-4 text-center not-pusblished" *ngIf="!program.published">
        <br>
        <button class="btn btn-violet">Publicar</button>
      </div>
    </div>
  </div>
  <div *ngIf="programs.length === 0">
    <h4 class="no-program-text">
      La carrera no posee planes todavia, haz click en Agregar plan
    </h4>
  </div>
</div>

