
<footer class="page-footer unique-color-dark font-small ">
    <div class="container-fluid second-footer">
        <div class="row text-right">
            <div class="col-sm-2 col-sm-12 py-3">
                <a style="color: rgb(209, 160, 0)" href="https://www.instagram.com/universy.app/">
                    <img src="\assets\pictures\footer-instagram.png" class="footer-icon" alt="instagram-universy">
                ¡Seguinos!</a>
             </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-2">© 2019 Todos los derechos reservados
        <a href=""> universy-app.com</a>
    </div>
</footer>