.page-footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:grey;
}

.second-footer{
    background-color: #404348;
    width:100%;
}

.footer-icon{
    width: 2%;
}