<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancelAction()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form appForm [formGroup]="form" (ngSubmit)="confirmAction()">
  <div class="modal-body">
    <div class="form-group">
        <label for="name">
          Nombre/s:
        </label>
        <div class="control">
          <input id="name" appControlError
                 class="form-control"
                 type="text" formControlName="name">
        </div>
    </div>
    <div class="form-group">
      <label for="last-name">
        Apellido/s:
      </label>
      <div class="control">
        <input id="last-name" appControlError
               class="form-control"
               type="text" formControlName="lastName">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline"
            (click)="cancelAction()">Cancelar
    </button>
    <button type="submit" class="btn btn-primary">{{confirmButtonText}}</button>
  </div>
</form>
