<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancelAction()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="form">
  <div class="form-group">
    <div class="{{calculateColForInputSize()}}">
      <label for="item-text">
        Nombre:
      </label>
      <input id="item-text" class="form-control" maxLength="{{maxLength}}" type="text" formControlName="itemText">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline" (click)="cancelAction()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="confirmAction()">{{confirmButtonText}}</button>
</div>
