<h3 class="margin-top-2">
  Profesores
</h3>
<app-add-item (buttonPressed)="openNewScheduleModal()"
              [buttonTitle]="addProfessorButtonTitle">
</app-add-item>
<div *ngIf="professors.length != 0 ">
  <table class="table margin-top-2">
    <thead>
    <tr>
      <th scope="col">Apellido/s</th>
      <th scope="col">Nombre/s</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let professor of professors">
      <td>{{professor.name}}</td>
      <td>{{professor.lastName}}</td>
      <td>
        <i class="material-icons space-right" (click)="editProfessor()">edit</i>
        <i class="material-icons space-right" (click)="deleteProfessor(professor)">delete</i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="professors.length === 0">
  <app-no-item-message [message]="noProfessorMessage"></app-no-item-message>
</div>
