<img src="\assets\pictures\home-background-png.png" class="img-fluid" 
style="position: absolute; z-index: -100; ">

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-7 logo-universy center">
            <br>
            <img src="\assets\pictures\home-logo-png.png" alt="logo-universy">
        </div>

        <div class="col-sm-4 sentence center">
            <h2>Frase motivadora que inspire a unirse a Universy </h2>
            <br>
            <br>
            <button class="btn btn-primary btn-lg">Registra tu Institución</button>
        </div>
    </div>
</div>