<img src="\assets\pictures\home-background-png.png" class="img-fluid" style="position: absolute; z-index: -100; ">

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-6 logo-universy center">
            <br>
            <img src="\assets\pictures\home-logo-png.png" alt="logo-universy">
        </div>

        <div class="col-sm-6 sentence center">
            <div class="row">
                <div class="col-sm-6">
                    <br>
                    <h3>Gestionar tu Institución ahora es más fácil </h3>
                </div>
                <div class="col-sm-6">
                    <h3>¡Descargá la app!</h3>
                    <img src="\assets\pictures\home-qr.png" width="50%" alt="qr-universy">
                </div>
            </div>
            <br>
            <br>
            <button class="btn btn-primary btn-lg" onclick="location.href='http:/institution'">Registra tu
                Institución</button>
        </div>
    </div>
</div>