<div *ngIf="similarWords.length > 0">
    <div class="repeated-word-message">
        <div class="row-reverse text-right">
            <a href="" class="add-item" (click)="searchSimilarWords(true)" data-toggle="modal"> <i class="material-icons">cached</i>{{searchAgainTitle}}</a>
        </div>
        <div class="col-12">
            <label class="repeated-word-title">{{repeatedWordText}}</label>
        </div>
        <div *ngFor="let word of similarWords">
            <span class="word-item">- {{word}} </span>
        </div>
    </div>
    <app-modal-confirm-footer (confirmAction)="onConfirmAction()" (cancelAction)="onCancelAction()" [confirmButtonText]="getRepeatedConfirmButtonText()">
    </app-modal-confirm-footer>
</div>
<div *ngIf="similarWords.length == 0 ">
    <div class="repeated-word-message" *ngIf="onlySearch">
        <label id="repeated-word-title">{{noRepeatedWordFounded}}</label>
    </div>
    <app-modal-confirm-footer (confirmAction)="searchSimilarWords()" (cancelAction)="onCancelAction()" [confirmButtonText]="defaultButtonText"></app-modal-confirm-footer>
</div>