.btn-subject {
  height: 5rem;
  width: 12rem;
  border-radius: 20px;
  background-color: #E5C028;
  color: white;
  border-color: transparent;
  margin: 1rem;
  white-space: normal;
  font-size: 1rem;
}

.btn-subject:hover {
  background-color: #e7c94f;
}

.card {
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #fffffff3;
}

.optative-header {
  font-size: small;
  font-style: italic;
  position: absolute;
  font-weight: bolder;
  top: -2.5rem;
  left: 8.8rem;
  color: white;
  background-color: #3D1255;
  padding: 0.5rem;
  border-radius: 20px 20px 20px 5px
}

.btn-subject:hover .optative-header {
  background-color: #551777;
}

.optative-decorator {
  position: relative;
}

.subjects {
  padding: 1.5rem;
}