.btn-subject {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 1px 4px 3px 0 rgba(0, 0, 0, 0.19);
  height: 5rem;
  width: 12rem;
  border-radius: 20px;
  background-color: #E5C028;
  color: white;
  border-color: transparent;
  margin: 1rem;
  white-space: normal;
  font-size: 1vw;
}

.btn:hover {
  background-color: grey;
}

.bottom-line {
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 1rem;
}

.subjects {
  padding: 1.5rem;
}

