<div class="container">
  <app-module-title [title]="program.name"
                    (editItem)="openEditProgramModal()"
                    (deleteItem)="openDeleteProgramModal()"
                    [showDeleteButton]="canEditProgram()"
                    [showEditButton]="canEditProgram()"
  ></app-module-title>
  <hr>
  <app-add-item [buttonTitle]="'Agregar Materia'" (buttonPressed)="openNewSubjectModal()"></app-add-item>

  <div class="row" *ngFor="let subjectXLevel of subjectsXLevel">

    <div class="col-xs-12">
      <hr>
      <h4>{{subjectXLevel.level}}</h4>
      <br>
      <div class="col-xs-2" *ngFor="let subject of subjectXLevel.subjects">
        <button class="btn btn-primary btn-subject" (click)="navigateToSubjectView(subject)">
          {{subject.name}}
        </button>
      </div>
    </div>
  </div>
</div>
