<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="container">
  <app-module-title [title]="program.name" (editItem)="openEditProgramModal()"></app-module-title>
  <hr>
  <app-add-item [buttonTitle]="'Agregar Materia'" (buttonPressed)="openNewSubjectModal()"></app-add-item>
<!--
  <div class="row" *ngFor="let level of levels">
    <div class="col-xs-12">
      <hr>
      <h4>{{level.name}}</h4>
      <br>
      <div class="col-xs-2" *ngFor="let subject of level.subjects">
        <button class="btn btn-primary btn-subject">
          {{subject.name}}
        </button>
      </div>
    </div>
  </div>-->
</div>
