.btn-subject {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 1px 4px 3px 0 rgba(0, 0, 0, 0.19);
  height: 5rem;
  width: 12rem;
  border-radius: 20px;
  background-color: #E5C028;
  color: white;
  border-color: transparent;
  margin: 1rem;
  white-space: normal;
  font-size: 1vw;
}

.btn-subject:hover {
  background-color: #e7c94f;
  
}


.bottom-line {
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 1rem;
}

.optative-header{
  font-size: small;
  font-style: italic;
  position: absolute;
  font-weight: bolder;
  top: -2.5rem;
  left: 8.8rem;
  color: white;
  background-color: #3D1255;
  padding: 0.5rem;
  border-radius: 20px 20px 20px 5px
}

.btn-subject:hover .optative-header{
  background-color: #551777;
}

.optative-decorator{
  position: relative;
}

.subjects {
  padding: 1.5rem;
}

