<div class="card">
  <h3 class="title">{{title}}</h3>
  <div *ngFor="let breadCrum of breadcrums">
    <div class="step-container">
      <div class="row">
        <div class="col-1">
          <div class="step-number" [class.step-number-active]="breadCrum.active">{{breadCrum.order+'.'}}</div>
        </div>
        <div class="col">
          <div class="step-label" *ngIf="breadCrum.active">{{breadCrum.label}}</div>
          <div class="step" [class.step-active]="breadCrum.active">
            {{breadCrum.active ? breadCrum.value : breadCrum.label}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>