<div class="container">
  <app-module-title [title]="career.careerName" (editItem)="openEditCareerModal()"></app-module-title>
  <hr>
  <app-add-item *ngIf="showAddProgram()" (buttonPressed)="openNewProgramModal()"
                [buttonTitle]="'Agregar plan'"></app-add-item>
                
  <div *ngIf="programs">
    <div *ngFor="let program of programs" class="row text-left program"
         [ngClass]="{'btn-program-off' :program.published , 'btn-program-on': !program.published }"
         (click)="navigateToProgramPage(program)">
      <div class="col-8">
        <h3 class="program-name">
          {{program.name}}
        </h3>
        <h4 class="valid-from">
          Desde: {{program.validFrom | date:'yyyy'}}</h4>
      </div>
      <div class="col-4 text-center not-pusblished" *ngIf="!program.published">
        <br>
        <button class="btn btn-primary" (click)="openConfirmPublishModal()">Publicar</button>
      </div>
    </div>
  </div>
  <div *ngIf="programs.length === 0">
    <h4 class="no-program-text">
      La carrera no posee planes todavia, haz click en Agregar plan
    </h4>
  </div>
</div>

