
.btn-program-on {
  background-color: #E5C028;
}

.btn-program-on:hover {
  background-color: #eec829;
}

.btn-program-off {
  background-color: gray;
}

.btn-program-off:hover {
  background-color: #979797;
}


.career-title {
  margin-left: 1rem;
  margin-right: 1rem;
}

.program {
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  margin: 2rem;
  padding: 2rem;
  transition: all 100ms ease-in-out;
}

.no-program-text {
  font-weight: lighter;
  font-style: italic;
}

.not-pusblished {
  border-left: 2px solid white;
}

.program-name {
  color: white;
}

.valid-from {
  color: white;
  font-style: italic;
}


