<div class="container-fluid">
    <div class="row flex-sm-row-reverse">
        <div class="col-sm-5 col-xs-12 toggler">
            <app-custom-toggle class="float-right" [activated]="getStateOfCareer()"
                (toggleChanged)="editStateOfCareer($event)"></app-custom-toggle>
        </div>
        <div class="col-sm-7 col-xs-12">
            <app-custom-title [title]="career.name" (editItem)="openEditCareerModal()" [showDeleteButton]="false">
            </app-custom-title>
        </div>
    </div>
    <hr>
    <div class="content">
        <app-add-item *ngIf="showAddProgram()" (buttonPressed)="openNewProgramModal()" [buttonTitle]="'Agregar plan'">
        </app-add-item>
        <div *ngIf="programs">
            <div *ngFor="let program of programs" class="row text-left program"
                [ngClass]="{'btn-program-off' :program.active , 'btn-program-on': !program.active }">
                <div class="col-md-8 col-12 clickeable" (click)="navigateToProgramPage(program)">
                    <h3 class="program-name">
                        {{program.name}}
                    </h3>
                    <h4 class="valid-from">
                        Desde: {{program.validFrom | date:'yyyy'}}</h4>
                </div>
                <div class="col-md-4 col-12 text-center not-pusblished" *ngIf="!program.active">
                    <br>
                    <button class="btn btn-primary" (click)="navigateToProgramStats(program)">Publicar</button>
                </div>
                <div class="col-md-4 col-12 text-center align-self-center published" *ngIf="program.active">
                    <h3 class="program-name">
                        <i class="material-icons active-icon">fiber_manual_record</i> Publicado
                    </h3>
                    <div class="text-center">
                        <a href="" class=" add-item program-stat-link" (click)="navigateToProgramStats(program)"
                            data-toggle="modal">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="programs.length === 0">
        <h4 class="no-program-text">
            La carrera no posee planes todavía, haz click en Agregar plan.
        </h4>
    </div>
</div>