<div class="row">
  <div class="col">
    <div class="row align-items-end">
      <i *ngIf="showNavigationArrow" class="material-icons space-right"
        (click)="navigateToPreviousPage()">arrow_back</i>
      <div>
        <h6 *ngIf="showCurrentLocation">{{currentLocationLabel}}:</h6>
        <h3 class="career-title space-right">{{title}}</h3>
      </div>
      <i *ngIf="showEditButton" class="material-icons space-right" (click)="editItemAction()">edit</i>
      <i *ngIf="showDeleteButton" class="material-icons space-right" (click)="deleteItemAction()">delete</i>
    </div>
  </div>
</div>