<div id="print-section">
    <div class="row flex-row-reverse" *ngIf="showSecondaryPrintButton">
        <button class="btn btn-secondary" [printStyle]="printStyle" [useExistingCss]="true"
            printSectionId="print-section" ngxPrint>
            <i class="material-icons" id="print-icon">print</i> {{printButtonText}}</button>
    </div>
    <div class="print-container">
        <div class="print-header">
            <div class="print-banner">
                <img src="\assets\pictures\home-logo.png" alt="logo-universy" height="auto" width="60px"
                    class="print-logo">
                <div class="d-flex align-items-end flex-column">
                    <div class="date-header">{{dateText}}{{currentDate | date:'dd/MM/yyyy'}}</div>
                    <div class="hour-header">{{hourText}}{{currentDate | date:'hh:mm'}}</div>
                </div>
            </div>
            <div class="print-title">{{printTitle}}</div>
        </div>
        <div class="print-body">
            <ng-content></ng-content>
        </div>
        <div class="print-footer">
           {{footerText}}
        </div>
    </div>
    <div class="row flex-row-reverse" *ngIf="showPrimaryPrintButton">
        <button class="btn btn-secondary" [printStyle]="printStyle" [useExistingCss]="true"
            printSectionId="print-section" ngxPrint>
            <i class="material-icons" id="print-icon">print</i> {{printButtonText}}</button>
    </div>
</div>