<div class="container-fluid">
    <app-custom-title [title]="'Mis Carreras'" [showDeleteButton]="false" [showEditButton]="false" [showNavigationArrow]="false"></app-custom-title>
    <hr>
    <br>
    <app-add-item (buttonPressed)="openNewCareerModal()" [buttonTitle]="'Agregar carrera'"></app-add-item>
    <div class="content">
        <div class="row justify-content-center">
            <div *ngFor="let career of careers" class="col-lg-5 col-xs-12">
                <button class="btn button-career" [class.carrer-disabled]="!career.active" (click)="navigateToCareerPage(career)"> {{ career.name}} </button>
            </div>
        </div>
    </div>
</div>