<app-modal-header [title]="title"
                  (closeEvent)="cancelAction()"></app-modal-header>
<form appForm [formGroup]="form" (ngSubmit)="confirmAction()" >
  <div class="modal-body">
    <div class="form-group">
      <div class="{{calculateColForInputSize()}}">
        <label for="item-text">
          Nombre:
        </label>
        <div class="control">
          <input id="item-text" appControlError
                 class="form-control"
                 type="text" formControlName="careerName">
        </div>
      </div>
    </div>
  </div>
  <app-modal-repeated-words-footer 
    [defaultButtonText]="confirmButtonText"
    [words]="careerNames"
    [initialWord]="careerName"
    [wordToCompare]="careerNameControl.value"
    [repeatedWordText]="'Ya existen las siguientes carreras con el mismo nombre: '"
    (cancelAction)="cancelAction()"
    (confirmAction)="confirmAction()">
  </app-modal-repeated-words-footer>
</form>
