<div class="container" id="print-section">
    <app-custom-title [title]="title" [showNavigationArrow]="false" [showDeleteButton]="false" [showEditButton]="false">
    </app-custom-title>
    <div *ngIf="institutionReport">
        <app-printable-section [printTitle]="title">
            <div class="content">
                <ngx-masonry>
                    <div ngxMasonryItem *ngFor="let career of institutionReport.careers" class="career-stat-card">
                        <app-career-stats-card [career]="career"></app-career-stats-card>
                    </div>
                </ngx-masonry>
            </div>
        </app-printable-section>
    </div>
</div>