<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4">
      <app-contact-form></app-contact-form>
    </div>
    <div class="col-12 col-md-8 card align-self-start">
      <div class="row justify-content-center">
        <div>
          <img src="https://i.ibb.co/Vm2TrMF/Icono-documento-negro-1.png" alt="logo-universy">
          <br>
          <br>
        </div>
      </div>
      <div class="text-center">
        <h3>¡Conocenos!</h3>
        <hr>
      </div>
      <div class="row justify-content-center">
        <div *ngFor="let contact of contacts" class="col-md-2 text-center ">
          <img [src]="contact.imgUrl" alt="foto de {{contact.name}}" width="100px">
          <hr>
          <div> {{ contact.lastName}} </div>
          <i> {{ contact.name}} </i>
        </div>
      </div>
    </div>
  </div>
</div>