.subject-detail {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.correlative-container {
    padding-left: 2rem;
}

#correlative-total {
    font-style: italic;
    font-weight: 300;
    padding-left: 2rem;
}