<div id="print-section">
    <div class="content">
        <app-custom-title [title]="componentTitle" [showDeleteButton]="false" [showEditButton]="false"></app-custom-title>
        <h5 class="text-right">{{correlativeCountText}}
            <span id="correlative-total">{{correlativesCount}}/{{subjects.length}}</span></h5>
        <div *ngFor="let subject of subjects" class="subject-detail">
            <div *ngIf="subject.correlatives && subject.correlatives.length > 0">
                <h3>{{subject.name}}</h3>
                <p class="level-row">{{levelText}}<span class="level-number">{{subject.level}}</span></p>
                <h6 class="correlative-title">{{correlativesTitle}}</h6>
                <div class="correlative-list">
                    <app-correlative-list [subject]="subject" [subjects]="subjects"></app-correlative-list>
                </div>
            </div>
        </div>
        <div class="text-right publish-btn-container">
            <button class="btn btn-primary" [printStyle]="printStyle" [useExistingCss]="true" printSectionId="print-section" ngxPrint>{{printButtonText}}</button>
        </div>
    </div>
</div>