<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h3>Mis Carreras</h3>
        </div>
        <div>
            <a href="#" data-toggle="modal" data-target="#newCareer">+ Agregar Carrera</a>
        </div>
    </div>
    <hr>
    <br>

    <div class="row justify-content-center">
        <div *ngFor="let career of careers" class="col-sm-5 ">
            <button class="btn button-career" 
                [ngClass]="{
                'btn-career-on' :career.active === true,
                'btn-career-off':career.active === false}">
                {{ career.careerName}}
                <h5 [hidden]="career.active === true">-Inactiva-</h5>
            </button>
        </div>
    </div>


</div>


<!-- Modal Registrar Carrera-->
<!-- <div class="modal fade" id="newCareer" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Registrar Carrera</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group col-sm-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control form-control-sm" id="careerName">
                    </div>
                </form>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-border" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary btn-border">Agregar</button>
            </div>
        </div>
    </div>
</div>  -->

<img class="onda-footer" src="\assets\pictures\footer-onda.png" alt="footer-universy">