<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h3>Mis Carreras</h3>
    </div>
    <div>
      <a (click)="openNewCareerModal()" data-toggle="modal" data-target="#newCareer">+ Agregar Carrera</a>
    </div>
  </div>
  <hr>
  <br>

  <div class="row justify-content-center">
    <div *ngFor="let career of institution.careers" class="col-sm-5 ">
      <button class="btn button-career "> {{ career.careerName}} </button>
    </div>
  </div>

</div>


<img class="onda-footer" src="\assets\pictures\footer-onda.png" alt="footer-universy">
