.button-career{
    color: white;
    padding: 5%;
    font-size: 20px;
    width:38rem;
    height: 12rem;
    margin: 1%;
}

.btn-primary{
    background-color:#3D1255;
    border-color: #3D1255;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-border{
    border-radius: 42px;
}

.onda-footer{
    position: fixed;
    top: 75%;
}

.btn-career-on{
    background-color: #E5C028;
}

.btn-career-off{
    background-color: gray;
}