<footer class="page-footer font-small ">
    <div class="footer-container">
        <div class="info">
            <div>
                <a href="mailto:sinfo.universy@gmail.com">
                    <img src="\assets\pictures\footer-mail.png" class="footer-icon" alt="mail-universy">
                    info.universy@gmail.com </a>
            </div>
            <div>
                <a href="https://www.instagram.com/universy.app/"  target="_blank">
                    <img src="\assets\pictures\footer-instagram.png" class="footer-icon" alt="instagram-universy">
                    ¡ Seguinos ! </a>
            </div>
        </div>
        <div class="copyright text-center">
            © 2019 Todos los derechos reservados<a href=""> universy-app.com</a>
        </div>
    </div>

</footer>