
.footer-container {
    display: flex;
    flex-direction:column ;
    margin-top: 3rem;
}
.footer-container > *, a {
    color: white
}
.info{
    background-color: #404348;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem
}

.copyright {
    background-color: #161616;
    width: 100vw;
    color:grey;
    padding: 0.5rem
}

.footer-icon{
    width: 2.3rem;
    padding-right: 0.5rem;
}

