<div class="container">
  <app-custom-title [title]="subject.name"
                    (deleteItem)="openDeleteModal()"
                    (editItem)="openEditModal()"
                    [showEditButton]="canModifySubject()"
                    [showDeleteButton]="canModifySubject()"></app-custom-title>
  <hr>
  <div class="content">
    <app-add-item [buttonTitle]="'Agregar comisión'" (buttonPressed)="openNewCourseModal()"></app-add-item>
    <h4>Comisiones</h4>
    <app-courses-list [commissions]="commissions" [courses]="courses" ></app-courses-list>
    <hr>
    <button *ngIf="canModifySubject()"
            class="btn-primary correlatives-button" id="manage-correlatives-button"
            (click)="openManageCorrelativesModal()">
      Administrar Correlativas
    </button>
    <button *ngIf="!canModifySubject()"
            class="btn-primary correlatives-button" id="view-correlatives-button"
            (click)="openViewCorrelativesModal()">
      Ver Correlativas
    </button>
  </div>
</div>
