.btn-commission {
  width: 8rem;
  height: 3rem;
  margin: 0.5rem;
  background-color: #E5C028;
  color: white;
  border-color: #E5C028;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  white-space: normal;
}
