.subject-item {
    padding: 1rem;
    transition: all 100ms ease-in-out;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 1.3rem;
}

.subject-item:hover {
    background-color: #efeeee;
}

.subject-active {
    background-color: #E5C028;
    color: white;
}

.subject-active:hover {
    background-color: #e6c649;
}

::ng-deep .progress {
    background-color: #cfcfcf !important;
    border-radius: 15px !important;
}

::ng-deep .progress-bar {
    border-radius: 15px !important;
}

#subject-name {
    padding-bottom: 0.5rem;
}

.subject-progress {
    padding-left: 1rem;
    padding-right: 1rem;
}

.optative-message-container {
    position: relative;
    top: 1.5rem;
    left: 70%;
}

.optative-message {
    max-width: 6rem;
    border-color: #8046b6;
    border-width: 1px;
    border-style: solid;
    color:#8046b6;
    text-align: center;
    border-radius: 0.5rem;
    transition: all 100ms ease-in-out;
}

.subject-item:hover .optative-message{
    background-color: #efeeee;
}

.subject-active .optative-message {
    background-color: #8046b6;
    border-color: #7a3bb4;
    color: white;
    font-weight: bold;
}

.subject-active:hover .optative-message {
    background-color: #9061bd;
}

