.raddio-btn-label {
    padding-right: 0.5rem;
    padding-left: 0.5em;
}

.requires-optatives {
    padding-left: 2rem;
}

.amount-input {
    max-width: 5rem;
    display: block;
    text-align: left;
}

.modal-body{
    padding:0.5rem
}

.year-separator{
    font-size: 1.5rem;
    font-weight: 100;
    padding-top: 2rem;
    color: gray;
}
