.raddio-btn-label {
    padding-right: 0.5rem;
    padding-left: 0.5em;
}

.sub-form{
    padding-left: 2rem;
}

.amount-input {
    max-width: 5rem;
    display: block;
    text-align: left;
}

.modal-body {
    padding: 2rem
}

.year-separator {
    font-size: 1.5rem;
    font-weight: 100;
    padding-top: 2rem;
    color: gray;
}

.undefined-year-to-text {
    font-style: italic;
    padding-top: 0.5rem;
    color: gray;
    letter-spacing: 2px;
}

.set-undefined-container {
    margin: 1.5rem 0;
}