.yellow-background {
  background-color: #FFD438;
  height: 100%;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative
}

.content {
  height: 100%;
}

.opacity-background {
  background-color: gray;
}

.main-container::after {
  content: "";
  background-image: url(../assets/pictures/buildings.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.main-container::before {
  content: "";
  background: url(../assets/pictures/cloud.png);
  opacity: 0.4;
  top: 6rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: contain;
  height: 10rem;
  z-index: -1;
}