<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- Modal Registrar Carrera-->
<div class="modal fade" id="newCareer" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>this.modal.title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group col-sm-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control form-control-sm" id="careerName">
                    </div>
                </form>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-border" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary btn-border">Agregar</button>
            </div>
        </div>
    </div>
</div> 

