<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close"
          aria-label="Close" (click)="cancelAction()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content">
    <table class="table" [hidden]="!showTable()">
      <thead>
      <tr>
        <th colspan="2" scope="colgroup"><strong>Materias</strong></th>
        <th colspan="2" scope="colgroup"><strong>Para Cursar</strong></th>
        <th scope="col" class="text-center"><strong>Para Rendir</strong></th>
      </tr>
      <tr>
        <th scope="col">Nivel</th>
        <th scope="col">Nombre</th>
        <th scope="col">Reg</th>
        <th scope="col">Apr.</th>
        <th scope="col" class="border-left text-center">Apr.</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subject of subjects">
        <th scope="row">{{subject.level}}</th>
        <td>{{subject.name}}</td>
        <td>
          <input type="checkbox" [checked]="isToTakeRegularChecked(subject)"
                 (change)="changeCorrelativeToTakeRegular(subject)">
        </td>
        <td>
          <input type="checkbox" [checked]="isToTakeApprovedChecked(subject)"
                 (change)="changeCorrelativeToTakeApproved(subject)">
        </td>
        <td class="border-left text-center">
          <input type="checkbox" [checked]="isToApproveChecked(subject)"
                 (change)="changeCorrelativeToApprove(subject)">
        </td>
      </tr>
      </tbody>
    </table>
    <div [hidden]="showTable()" class="text-center">
      <span class="font-italic">No existen materias para asignar como correlativas.</span>
    </div>
    <div [hidden]="isSubjectInFirstLevel()" class="text-center">
      <span class="font-italic">La materia se encuentra en el primer nivel. No se le pueden asignar comisiones.</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline"
          (click)="cancelAction()">Cancelar
  </button>
  <button type="buttom" class="btn btn-primary"
          (click)="emitCorrelatives()">{{confirmButtonText}}</button>
</div>
