<app-modal-header [title]="title" (closeEvent)="cancelAction()"></app-modal-header>
<div class="modal-body">
    <div class="content">
        <table class="table" [hidden]="!showTable()">
            <thead>
                <tr>
                    <th colspan="2" scope="colgroup"><strong>Materias</strong></th>
                    <th colspan="2" scope="colgroup"><strong>Para Cursar</strong></th>
                    <th scope="col" class="text-center"><strong>Para Rendir</strong></th>
                </tr>
                <tr>
                    <th scope="col">Nivel</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Reg</th>
                    <th scope="col">Apr.</th>
                    <th scope="col" class="border-left text-center">Apr.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects" [class.view-mode]="readOnly">
                    <th scope="row">{{subject.level}}</th>
                    <td>{{subject.name}}</td>
                    <td>
                        <input type="checkbox" [disabled]="readOnly" [checked]="isToTakeRegularChecked(subject)" (change)="changeCorrelativeToTakeRegular(subject)">
                    </td>
                    <td>
                        <input type="checkbox" [disabled]="readOnly" [checked]="isToTakeApprovedChecked(subject)" (change)="changeCorrelativeToTakeApproved(subject)">
                    </td>
                    <td class="border-left text-center">
                        <input type="checkbox" [disabled]="readOnly" [checked]="isToApproveChecked(subject)" (change)="changeCorrelativeToApprove(subject)">
                    </td>
                </tr>
            </tbody>
        </table>
        <div [hidden]="showTable()" class="text-center">
            <span class="font-italic" *ngIf="readOnly">No se registraron correlativas para esta materia.</span>
            <span class="font-italic" *ngIf="!readOnly">No existen materias para asignar como correlativas.</span>
        </div>
    </div>
    <app-correlative-list [subject]="subject" [subjects]="subjects"></app-correlative-list>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline" *ngIf="!readOnly" (click)="cancelAction()">Cancelar
  </button>
    <button type="buttom" class="btn btn-primary" (click)="emitCorrelatives()">{{confirmButtonText}}</button>
</div>