.logo-universy{
    top:90px;
    
}
.center{
    text-align: center;
}

.btn-primary{
    background-color:#3D1255;
    border-color: #3D1255;
    border-radius: 42px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sentence{
    top:130px;
}