<div class="container">
    <app-custom-title [title]="title" [showDeleteButton]="false" [showEditButton]="false" [backNavigationRoute]="backNavigationRoute">
    </app-custom-title>
    <div class="content" id="print-section">
        <div class="row  flex-row-reverse">
            <a href="" class="add-item" id="subject-btn" (click)="navigateToProgramSummaryPage()" data-toggle="modal">{{correlativeBtnTxt}}</a>
        </div>
        <h2>{{programName}}</h2>
        <h5>{{careerName}}</h5>
        <br>
        <div class="stats-container">
            <app-stats [subjectCount]="getSubjectCount()" [levelCount]="getLevelCount()">
            </app-stats>
        </div>
        <br>
        <div class="table-container">
            <app-subjects-table [title]="tableTitle" [programStatsRow]="programStatsRow"></app-subjects-table>
        </div>
        <hr>
        <div class="text-right publish-btn-container">
            <button class="btn btn-primary" (click)="openConfirmPublishModal()">{{publishBtnTxt}}</button>
        </div>
        <div class="text-right publish-btn-container">
            <button class="btn btn-primary" [printStyle]="printStyle" [useExistingCss]="true" printSectionId="print-section" ngxPrint>{{printButtonText}}</button>
        </div>
    </div>
</div>