<div class="main-container">
    <app-custom-title [title]="career.name" [showDeleteButton]="false" [showEditButton]="false"
        [backNavigationRoute]="backNavigationRoute"></app-custom-title>
    <div class="content">
        <div class="row">
            <div class="col-4">
                <app-subject-selector [career]="career" (subjectSelected)="selectSubject($event)">
                </app-subject-selector>
            </div>
            <div class="col-8">
                    <app-subject-stat [career]="career" [subjectStat]="selectedSubject"></app-subject-stat>
            </div>
        </div>
    </div>
</div>