.btn-program-on {
    background-color: #E5C028;
}

.btn-program-on:hover {
    background-color: #eec829;
}

.btn-program-off {
    background-color: gray;
}

.btn-program-off:hover {
    background-color: #979797;
}


.program {
    width: 100%;
    border-radius: 25px;
    margin: 2rem;
    padding: 2rem;
    transition: all 100ms ease-in-out;
}

.not-pusblished {
    border-left: 2px solid white;
}

.active-icon {
    color: greenyellow;
}

.program-name {
    color: white;
}

.program-period {
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 1rem;
}

.program-stat-link {
    color: white;
    padding-left: 2rem;
}

@media only screen and (max-width: 768px) {
    .toggler {
      margin-bottom: 1rem;
    }
    .program-name, .program-period, .program-stat-link {
        text-align: center;
    }

    .program{
        margin: 1rem 0;
    }

    .published{
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 2px solid #656565;
    }
    
    .not-pusblished  {
        border: none;
        margin-top: 1rem;
        border-top: 2px solid white;
    }
}