<div class="row text-left program" [ngClass]="{'btn-program-off' :program.active , 'btn-program-on': !program.active }">
  <div class="col-md-8 col-12 clickeable" (click)="tapCard()">
    <h3 class="program-name">
      {{program.name}}
    </h3>
    <div class="program-period">
      {{periodText}}</div>
  </div>
  <div class="col-md-4 col-12 text-center not-pusblished" *ngIf="!program.active">
    <br>
    <button class="btn btn-primary" (click)="publish()">{{publishButtonText}}</button>
  </div>
  <div class="col-md-4 col-12 text-center align-self-center published" *ngIf="program.active">
    <h3 class="program-name">
      <i class="material-icons"
       [ngClass]="{'current-period-icon': isCurrentPeriod, 'default-period-icon': !isCurrentPeriod }">
        fiber_manual_record</i>
      {{periodStatusText}}
    </h3>
    <div class="text-center">
      <a href="" class=" add-item program-stat-link" (click)="seeMore()" data-toggle="modal">{{seeDetailText}}</a>
    </div>
  </div>
</div>