<h5 class="margin-top-1">
    {{title}}
</h5>
<div *ngIf="programStatsRow.length != 0 ">
    <table class="table margin-top-1">
        <thead>
            <tr>
                <th scope="col">{{ levelRowTitle }}</th>
                <th scope="col">{{ nameRowTitle }}</th>
                <th scope="col">{{ courseCountRowTitle }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of programStatsRow">
                <td>{{ row.level }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.courseCount }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="programStatsRow.length === 0" class="margin-top-1">
    <app-no-item-message [message]="noRowMessage"></app-no-item-message>
</div>