/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.add-item {
  font-size: 1.2rem;
  color: black;
}

.btn-primary {
  background-color: #3D1255;
  border-color: #3D1255;
  border-radius: 42px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 150ms ease-in-out;
}

.btn-primary:hover {
  background-color: #61137d;
  border-color: #61137d;
  transform: translateY(-0.2rem);
}

.clickeable {
  cursor: pointer;
}

.content {
  padding-left: 3rem;
  padding-right: 3rem;
}
form.submitted input.ng-invalid, input.ng-dirty.ng-invalid {
  border: 1px solid red;
}
.margin-top-2{
  margin-top: 2rem;
}

i{
  cursor: pointer;
}
