<app-navigation-layout>
<div class="container">
  <div class="row">
    <div class="col-10">
      <app-custom-title [title]="title" [showEditButton]="false" [showDeleteButton]="true"
        (deleteItem)="openDeleteModal()">

      </app-custom-title>
    </div>
  </div>
  <hr>

  <div class="content">
    <div class="row justify-content-between align-items-baseline">
        <h3>Períodos</h3>
      <app-add-item (buttonPressed)="openNewPeriodModal()" [buttonTitle]="'Agregar Período'"></app-add-item>
    </div>
    <div class="content">
      <div *ngIf="course">
        <app-period [periods]="course.periods || []"></app-period>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary btn-guardar" (click)="saveCourse()">Guardar</button>
      </div>
    </div>
  </div>
</div>
</app-navigation-layout>