<div class="container">
  <div class="row">
    <div class="col-10">
      <app-module-title [title]="'Comisión: ' + course.name" [showEditButton]="true" [showDeleteButton]="true">
      </app-module-title>
    </div>
    <div class="col-2">
      <button class="btn btn-primary">Guardar</button>
    </div>
  </div>
  <hr>
  <div class="content">
    <div class="row">
      <div class="col-10">
        <h3>Períodos</h3>
      </div>
      <app-add-item (buttonPressed)="openNewPeriodModal()" [buttonTitle]="'Agregar Período'"></app-add-item>
    </div>

    <div class="content">
      <div *ngIf="course">
        <app-period [periods]="course.periods"></app-period>
      </div>
      <div *ngIf="course.periods.length === 0">
        <h4 class="no-course-text">
          La carrera no posee periodso todavia, haz click en Agregar Período
        </h4>
      </div>
    </div>
  </div>
</div>
