<div class="career-card">
    <div class="row">
        <div class="col-6 center-block ">
            <div id="career-name">{{career.careerName}}</div>
        </div>
        <div class="col-3">
            <div class="display-number">{{subjectCount}}</div>
            <div class="subtitle">{{subjectCountTxt}}</div>
        </div>
        <div class="col-3">
            <div class="display-number">{{overallRate}}</div>
            <div class="subtitle">{{overallRateTxt}}</div>
        </div>
    </div>
</div>