.career-card {
    background-color: #f6f6f6;
    border-radius: 0.5rem;
    height: 10rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: center;
    box-shadow: -1px 1px 2px 0 #d1d1d1;
    transition: all 300ms ease-in-out;
}

.career-card:hover {
    background-color: #dfdfdf;
    transform: translateY(-0.2rem);
}

#career-name {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.display-number {
    font-size: 3rem;
}

.subtitle {
    font-size: 1rem;
}

.display-number,
.subtitle {
    text-align: center;
}